<html>
  <head>


    <script src="https://cdn.tailwindcss.com"></script>
  </head>


  <body
    class="grid h-screen place-items-inherit text-center bg-gradient-to-r from-white-100 to-white-100"
  >

    <div>
      <header>
        <h1
          class="text-6xl bg-gradient-to-r from-blue-600 to-pink-600 bg-clip-text text-transparent font-bold"
        >
          <a href="/home"> &#9757; HAND GESTURE RECOGNITION SYSTEM &#9757;</a>

        </h1>

        <div class="mt-4 flex gap-4 justify-center">
          <a href="/home">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg padding:top-20px"
            >
              Home
            </button>
          </a>
          <a href="/intro">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg padding:top-20px"
            >
              Introduction
            </button>
          </a>
          <a href="/index6">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg padding:top-20px"
            >
              Launch
            </button>
          </a>
        </div>
      </header>
      <h1 style="font-size: 50px">
        Welcome to home page
      </h1>

    </div>
  </body>
</html>