<html>
  <head>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body
    class="grid h-screen place-items-inherit text-center bg-gradient-to-r from-white-100 to-white-100"
  >
    <div>
      <header>
        <h1
          class="text-6xl bg-gradient-to-r from-blue-600 to-pink-600 bg-clip-text text-transparent font-bold"
        >
          <a href="/home">  &#9995; HAND GESTURE RECOGNITION SYSTEM &#9995; </a>
        </h1>
        <div class="mt-4 flex gap-4 justify-center">
          <a href="/home">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg"
            >
              Home
            </button>
          </a>
          <a href="/intro">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg"
            >
              Introduction
            </button>
          </a>
          <a href="/index6">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg"
            >
              Launch
            </button>
          </a>
        </div>
      </header>

      <h3>Provide the radiology image</h3>

      <form

        action="predict"
        method="post"
        enctype="multipart/form-data"
      >

        <input class="bg-pink-200 p-2 rounded-lg" type="file" name="image" />
        <button
          class="w-1/3 bg-blue-500 hover:bg-pink-600 p-2 text-white rounded-lg"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </body>
</html>