<html>
  <head>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body
    class="grid h-screen place-items-inherit text-center bg-gradient-to-r from-white-100 to-white-100"
  >
    <div >
      <header>
        <h1
          class="text-6xl bg-gradient-to-r from-blue-600 to-pink-600 bg-clip-text text-transparent font-bold"
        >
          <a href="/home">  &#9996; HAND GESTURE RECOGNITION SYSTEM &#9996; </a>
        </h1>
        <div class="mt-4 flex gap-4 justify-center">
          <a href="/home">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg"
            >
              Home
            </button>
          </a>
          <a href="/intro">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg"
            >
              Introduction
            </button>
          </a>
          <a href="/index6">
            <button
              class="p-2 bg-blue-400 hover:bg-pink-500 text-black rectangle-lg"
            >
              Launch
            </button>
          </a>
        </div>
      </header>
<h1>
      <p style="font-size: 40px">
        Hand Gesture recognition system provides us an innovative, natural, user
        friendly way of interaction with the computer which is more familiar to the human beings.
        In our project, the hand region is extracted from the background by using Region of interest.
        Then, we will be predicting the labels based on the CNN trained model weights of hand gestures
        using that predicted labels we apply if conditions to control some of the actions like reshaping, blur,
        flip of the given image.
      </p>
</h1>
    </div>
  </body>
</html>